version: "3.8"

services:
  mongodb:
    image: mongo:8.0
    container_name: library-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: library-app
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/librarydb

volumes:
  mongo-data:
